/* Language */

#language {
    position: relative;
    margin: .75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    cursor: default;
}

    .button-language {
        font-weight: 300;
        color: #fff;
        font-size: .8em;
        line-height: .8em;
        padding: 0.75em;
    }

    .button-language.selected {
        background-color: #c5ebea;
    }

    .button-language.selected:hover {
        background-color: #c5ebea;
    }
    .button-language.selected:active {
        background-color: #c5ebea;
    }

/* Container */

.container-explanation {
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 1.25em;
    text-align: start;
    line-height: 1.25em;
}

    .container-explanation p {
        margin-bottom: 0.8em;
    }

.deployment {
    margin-top: 1em;
}

.deployment h3 {
    text-align: start;
    margin-bottom: 0.5em;
}

/* Sections */

#main > section.one {
    background-color: #81918E;
    background-image: url("../../images/banner.jpg");
}

#main > section.two {
    background-color: #f5fafa;
}

#main > section.three {
    background-color: #f2f7f7;
}

#main > section.four {
    background-color: #e8edec;
}

#main > section.five {
    background-color: #e0e4e3;
}